<div id="whole_page">
<div class="menu">
    <button id="modal-button" class="add-new bttn"><span class="plus">+</span><span class="text">Add to your bucket list!</span></button>
    <button id="browse-tag-activity" class="browse bttn"><span class="text">Browse activities by tag</span></button>
    <a href="/allactivities?key=id&id={{profile.id}}"><button id="browse-all-activity" class="browse bttn"><span class="text">Browse all activities</span></button></a>

</div>
<div class="bucket-list">
    <h2 class="banner">My BuckIt List</h2>
    <div class="category-box">
        <h3 class="category">Open activities</h3>
        {{#each profile.Activities}} {{#unless this.complete}}
        <div id="activity-{{this.id}}" class="activity open own">
            <div class="personId" id="{{this.PersonId}}"></div>
            <div class="activityId" id="{{this.id}}"></div>
            <h3 class="activity-name">{{this.itemName}}</h3>
            <h4 class="activity-location">{{this.location}}</h4>
            <hr>
            <p class="activity-description">{{this.description}}</p>
            <h5>Tags:</h5>
            {{#each this.TagActivities}}
            <p class="activity-tags">{{this.Tag.tag}}</p>
            {{/each}}
            <br>

            <button class="inpt bttn chat" id="{{this.itemName}}">Chat</button>
            <button class="inpt bttn edit-activity">Edit</button>

            <div class="activity-friends">
                {{this.participants}}
            </div>
        </div>
        {{/unless}} {{/each}}
        <div style="display: none" id="user-id" data-userid="{{profile.id}}"></div>
        {{#each profile.joinedActivities}} {{#unless this.complete}}
        <div id="activity-{{this.id}}" class="activity open others">

            <div class="activityId" id="{{this.id}}"></div>
            <h3 class="activity-name">{{this.itemName}}</h3>
            <h4 class="activity-location">{{this.location}}</h4>
            <hr>
            <p class="activity-description">{{this.description}}</p>
            <h5>Tags:</h5>
            {{#each this.TagActivities}}
            <p class="activity-tags">{{this.Tag.tag}}</p>
            {{/each}}
            <br>
            <button class="inpt bttn chat" id="{{this.itemName}}">Chat</button>
            <button class="inpt bttn leave-activity">Leave Activity</button>
            <div class="activity-friends">
                {{this.participants}}
            </div>
        </div>
        {{/unless}} {{/each}}
    </div>
    <div class="category-box">
        <h3 class="category">Completed activities</h3>
        {{#each profile.Activities}} {{#if this.complete}}
        <div id="activity-{{this.id}}" class="activity complete">
            <h3 class="activity-name">{{this.itemName}}</h3>
            <h4 class="activity-location">{{this.location}}</h4>
            <hr>
            <p class="activity-description">{{this.description}}</p>
            {{#each this.TagActivities}}
            <p class="activity-tags">{{this.Tag.tag}}</p>
            {{/each}}
            <br>
            <button class="inpt bttn chat">Chat</button>
            <button class="inpt bttn edit-activity" data-activityid="{{this.id}}">Edit</button>
            <button class="inpt bttn reopen-activity" data-activityid="{{this.id}}">Reopen Activity</button>
            <div class="activity-friends">
                {{this.participants}}
            </div>
        </div>
        {{/if}} {{/each}} {{#each profile.joinedActivites}} {{#if this.complete}}
        <div id="activity-{{this.id}}" class="activity complete">
            <h3 class="activity-name">{{this.itemName}}</h3>
            <h4 class="activity-location">{{this.location}}</h4>
            <hr>
            <p class="activity-description">{{this.description}}</p>
            {{#each this.TagActivities}}
            <p class="activity-tags">{{this.Tag.tag}}</p>
            {{/each}}
            <div class="activity-friends">
                {{this.participants}}
            </div>
        </div>
        {{/if}} {{/each}}
    </div>
</div>
<!--Add Activities form-->
<div id="modal" class="modal">
    <div class="modal-content">
        <form id="addactivityform" class="modal-form" action="/api/activity/new" method="POST">
            <div class="modal-inpt">
                <label for="itemName">What is your activity?</label>
                <br>
                <input type="text" class="inpt" name="itemName" placeholder="Your activity">
            </div>
            <br>
            <div class="modal-inpt">
                <label for="location">Location</label>
                <br>
                <input type="text" class="inpt" name="location" placeholder="City, State">
            </div>
            <br>
            <div class="modal-inpt">
                <label for="Description">Description</label>
                <br>
                <input type="text-area" class="inpt" name="description" placeholder="Short description">
            </div>
            <br>
            <div class="modal-inpt">
                <label for="tags">Tags</label>
                <br> {{#each allTags}}
                <input type="checkbox" class="form-control tag" name="{{this.tag}}" value="{{this.id}}" id="{{this.tag}}" data-id={{this.id}}
                    aria-describedby="...">
                <label for="{{this.tag}}">{{this.tag}}</label><br> {{/each}}
                <br> {{!-- <input type="text" class="inpt" id="newTag" placeholder="Add new tag">
                <button id="new-tag" class="tag bttn"><span class="text">Add New Tag</span></button> --}}
            </div>
            <br>
            <hr>
            <input type="hidden" name="PersonId" value="{{profile.id}}">
            <button type="submit" id="submit" class="inpt modal-bttn wide">Add to BuckIt &#10004;</span></button>
            <button type="button" id="close" class="inpt modal-bttn">Cancel</button>
        </form>
    </div>
</div>


<!--Edit Activitity form-->
<div id="edit-modal" class="modal">
    <div class="modal-content">
        <form id="edit-activity-form" class="modal-form" action="/api/activity/edit/" method="POST">
            <div class="modal-inpt">
                <label for="itemName">What is your activity?</label>
                <br>
                <input id="edit-name" type="text" class="inpt" name="itemName" placeholder="Your activity">
            </div>
            <br>
            <div class="modal-inpt">
                <label for="location">Location</label>
                <br>
                <input id="edit-location" type="text" class="inpt" name="location" placeholder="City, State">
            </div>
            <br>
            <div class="modal-inpt">
                <label for="Description">Description</label>
                <br>
                <input id="edit-description" type="text-area" class="inpt" name="description" placeholder="Short description">
            </div>
            <br>
            <div id="edit-tags" class="modal-inpt">
                <label for="tags">Tags</label>
                <br> {{#each allTags}}
                <input type="checkbox" class="tag" name="{{this.tag}}" value="{{this.id}}" id="tag-{{this.id}}" data-id={{this.id}} aria-describedby="...">
                <label for="{{this.tag}}">{{this.tag}}</label><br> {{/each}}
                <br> {{!-- <input type="text" class="inpt" id="newTag" placeholder="Add new tag">
                <button id="new-tag" class="tag bttn"><span class="text">Add New Tag</span></button> --}}
            </div>
            <br>
            <hr>
            <input type="hidden" name="PersonId" value="{{profile.id}}">
            <button type="submit" id="submit" class="inpt modal-bttn wide">Update activity</span></button>
            <button type="button" id="close" class="inpt close modal-bttn">Cancel</button>
        </form>
    </div>
</div>


<!--Search by Activity form-->
<div id="modal2" class="modal">
    <div class="modal-content">
        <form id="browsebytag" class="modal-form" action="/allactivities/tag/:tagId" method="GET">
            <div class="modal-inpt">
                <label for="tags"><h4>Search:Type of Activity</h4></label>
                <br>
                <div style="display: none" id="user-id" data-userid="{{profile.id}}"></div>
                {{#each allTags}}
                <a href="/allactivities/tag/{{this.id}}"><button type="submit" class="inpt modal-bttn bttn search tagsearch search" id="{{this.id}}" value={{this.tag}}>Any {{this.tag}}</button></a><br>                {{/each}}
                <br>
                <hr>
                <input type="hidden" name="PersonId" value="{{profile.id}}">
                <button type="button" id="close" class="inpt modal-bttn bttn">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div id="exit-modal" class="modal">
    <div class="modal-content">
        <form id="leave-activity-form" class="modal-form" action="/api/activity/leave/" method="POST">
            <div class="modal-inpt">
                <p> Do you wish to exit the following activity?</p>
                <p id="itemName"></p>
            </div>
            <br>
            <div class="modal-inpt">
                <input type="submit" id="leavebutton" class="inpt modal-bttn bttn" value="Leave"> &nbsp;
                <button type="button" id="close" class="inpt modal-bttn bttn">Cancel</button>
            </div>
        </form>
    </div>
</div>
</div>

<!-- Chat Box -->

<div class="container modal-form" id="chatbox">
    <div id="messageArea" class="row">
        <!-- User Name area -->
        <div class="col-md-4">
            <div class="well">
                <h3 id="chatroom"> Chat Room </h3>
                <ul class="list-group" id="users"></ul>
            </div>
            <!-- Main Chat area -->
            <div class="col-md-8">
                <div class="chat" id="chat"></div>
                 <input type="hidden" name="username" value="{{profile.username}}">

                <form id="messageForm">
                    <div class="form-group">
                        <label>Enter Your Message</label>
                        <textarea class="form-control" id="message"></textarea>
                        <br />
                        <!--<input type="hidden name="username" value="{{profile.username}}">-->
                        <input type="submit" class="btn btn-primary" value="Send Message" />
                        <input type="submit" class="btn btn-primary chatback" value="Back to Profile" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


